In [9]:
import json
import pandas as pd
import numpy as np

In [10]:
def json_parse(source_file):    
    
    with open(source_file, encoding='utf-8') as f:
        for r in f.readlines():
            data_dict = json.loads(r)     
            
    return data_dict

In [11]:
#    data_daily = './data_daily.txt'
#    data_month = './data_month.txt'
#    data_week = './data_week.txt'
data_daily = './daily.txt'
data_month = './month.txt'
data_week = './week.txt'

dict_d = json_parse(data_daily)
dict_m = json_parse(data_month)

In [12]:
date = dict_m['now']
date = pd.to_datetime(date).strftime('%Y-%m-%d')

# 创建一个dataframe

In [15]:
df = pd.DataFrame(columns=['date', 'userID','username', 'duration'])

In [16]:
l = len(df)
for i,u in enumerate(dict_m['data']['active']):    
    df.loc[i+l] = [date, u['user']['_id'], u['user']['username'], u['duration']]
l = len(df)
for i,u in enumerate(dict_m['data']['inactive']):    
    df.loc[i+l] = [date, u['_id'], u['username'], 0]

In [17]:
df

         date                    userID   username  duration
0  2018-11-28  5beeda52e66686391af117ce   酷酷的Xiao汐     262.0
1  2018-11-28  598ea73f2881d70b8124cde9       小平77      12.0
2  2018-11-28  57d016dc4933031ef4488dd4       川川的L       0.0
3  2018-11-28  5b485746e666866a53847f4b  云朵上的Sunnn       0.0

# 取出原来csv的数据，加到一起

In [21]:
df1 = pd.read_csv('data_all.csv')
df1

         date                    userID   username  duration
0  2018-11-28  5beeda52e66686391af117ce   酷酷的Xiao汐     262.0
1  2018-11-28  598ea73f2881d70b8124cde9       小平77      12.0
2  2018-11-28  57d016dc4933031ef4488dd4       川川的L       0.0
3  2018-11-28  5b485746e666866a53847f4b  云朵上的Sunnn       0.0

In [ ]:
df1.append(df, ignore_index=True)

In [20]:
df.to_csv('data_all.csv',index=0)